    <div class="position-sticky pt-3">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'phonetics' %}">
            <span data-feather="home"></span>
            Opis znaków fonetycznych
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'alphabet' %}">
            <span data-feather="file"></span>
            Alfabet
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'numbers' %}">
            <span data-feather="file"></span>
            Cyfry i liczeniki
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'present' %}">
            <span data-feather="shopping-cart"></span>
            Czas teraźniejszy
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'past' %}">
            <span data-feather="users"></span>
            Czas przeszły
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'future' %}">
            <span data-feather="bar-chart-2"></span>
            Czas przyszły
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'irregular-verb' %}">
            <span data-feather="layers"></span>
            Czasowniki nieregularne
          </a>
        </li>
      </ul>