{% extends 'theory/theory_start.html' %}

{% load static %}

{% block title %}
DailyQuest Teoria Fonetyka
{% endblock %}

{% block theory %}
<h1>Opis znaków fonetycznych</h1>
<br>
<p>Poniżej znajduje się tabela ze znakami fonetycznymi, które występują w języku angielskim. <br>Zapoznaj się z nimi dobrze, a ułatwi ci to czytanie i wymowę poszczególnych słów.
    <br>Na stronie będą również wskazówki wymowy bazujące na tych znakach. <br>Pamiętaj, że zawsze możesz tu zaglądnąć i sobie je przypomnieć. <br></p>
<div class="container">
    <img src="{% static 'theory/images/phonetics.jpg' %}" alt="">
</div>
{% endblock %}