{% extends 'theory/theory_start.html' %}

{% load static %}

{% block title %}
DailyQuest Teoria Teraźniejszość
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'theory/css/theory_time.css' %}">
{% endblock %}

{% block theory %}
<h1>Czas teraźniejszy</h1>
<div class="container">
    <section>
        <div class="header">
            <br>
            <h3 id="times">W angielskim wyróżniamy 4 czasy teraźniejsze:</h3>
            <br>
            <ol>
                <li>Present Simple</li>
                <li>Present Continuous</li>
                <li>Present Perfect</li>
                <li>Present Perfect Continuous</li>
            </ol>
        </div>
    </section>
    <br><br>
    <section>
        <div class="title">
            <h2>Present Simple</h2>
            <p>Czas teraźniejszy prosty</p>
            <br>
        </div>
        <div class="basic">
            <h4>Używamy, gdy mówimy o:</h4><br>
            <ul>
                <li class="basic-row">Czynnościach, stanach, które powtarzają się lub są nawykiem <br>
                    <strong>I go to school by bus.</strong>- Jeżdżę do szkoły autobuem. <br>
                    <strong>I get up at 7am every day.</strong>- Codziennie wstaje o 7 rano.</li>
                <br>
                <li class="basic-row">Sytuacjach niezmiennych, stałych. <br>
                    <strong>I live in Poland.</strong>- Mieszkam w Polsce <br>
                    <strong>Zdanie</strong></li>
                <br>
                <li class="basic-row">Ogólnych prawdach i prawach natury. <br>
                    <strong>The sun sets in the West.</strong>- Słońce zachodzi na zachodzie. <br>
                    <strong>Zdanie</strong></li>
                <br>
                <li class="basic-row">Przyszłości wynikającej z rozkładów, grafików. <br>
                    <strong>The bus leaves at 10.</strong>- Autobus odjeżdża o 10. <br>
                    <strong>Zdanie</strong></li>
                <br>
            </ul>
        </div>

        <div class="rules">
            <h5>Zdanie twierdzące</h5>
            <p>Zdanie twierdzące tworzymy poprzez użycie podstawowej formy czasownika, z wyjątkiem 
                3 osoby liczby pojedynczej. W 3 osobie l.poj. do czasownika dodajemy końcówkę <strong>-s</strong>. Gdy 
                czasownik jest zakończony na <strong>-o, -ch, -sh, -ss</strong> , dodajemy końcówkę <strong>-es</strong>. Gdy czasownik jest 
                zakończony na literę <strong>-y</strong> poprzedzoną spółgłoską, to <strong>-y – > -ies</strong>.
                </p>
            <p><strong>I eat a lot of apples.</strong>- Jem dużo jabłek.</p>
            <p><strong>She buys many books.</strong>- Ona kupuje dużo książek.</p>
            <p><strong>He watches all new movies.</strong>- On ogląda wszyskie nowe filmy.</p>
            <p><strong>She studies French.</strong>- Ona uczy się francuskiego</p><br>
            

            <h5>Pytanie</h5>
            <p>Pytanie tworzymy poprzez użycie operatorów <strong>„do/does” [duː/dʌz]</strong> na początku zdania. <strong>„Does”</strong> 
                używamy w 3 osobie liczby pojedyńczej. W pytaniach nie dodajemy końcówek do czasownika.</p>
            <p><strong>Do you learn Russian?</strong>- Czy ty uczysz się rosyjskiego?</p>
            <p><strong>Does she read books?</strong>- Czy ona czyta książki?</p><br>
            

            <h5>Przeczenie</h5>
            <p>Przeczenie tworzymy poprzez użycie operatorów : <strong>„do not (don't)” / „does not (doesn't)”.
                „Doesn't”</strong> używamy tylko w 3 osobie liczby pojedynczej. W przeczeniach nie dodajemy 
                końcówek do czasownika.
                </p>
            <p><strong>They dont't like horses.</strong>- Oni nie lubią koni.</p>
            <p><strong>She doesn't play video game.</strong>- Ona nie gra w gry wideo.</p><br>
            
            <h6>Słówka pomocnicze</h6>
            <p>W czasie Present Simple wykorzystujemy przysłówki częstotliwości oraz określenia czasu.
                Oto niektóre z nich:</p>
            <p><strong>always ['ɔːlweɪz]</strong> - zawsze <br>
                <strong>often ['ɒfən]</strong> - często <br>
                <strong>usually ['juːʒuəli]</strong> - zazwyczaj <br>
                <strong>sometimes ['sʌmtaɪmz]</strong> - czasami <br>
                <strong>rarely ['reəli]</strong> - rzadko <br>
                <strong>seldom ['seldəm]</strong> - rzadko border
                <strong>never ['nevə(r)]</strong> - nigdy <br>
                <strong>occasionally [ə'keɪʒənəli]</strong> - okazjonalnie <br>
                <strong>every day/week/month/year</strong> – każdego dnia/tygodnia/miesiąca/roku <br>
                <strong>once/twice a week/ three times a week/ four times a week</strong> – raz/dwa/trzy/cztery razy w tygodniu
                </p><br>
        </div>
    </section>

    <section>
        <div class="title">
            <h2>Present Continuous</h2>
            <p>Czas teraźniejszy ciągły</p>
            <br>
        </div>
        <div class="basic">
            <h4>Używamy, gdy mówimy o:</h4><br>
            <ul>
                <li>Czynnościach wykonywanych w chwili mówienia. <br>
                    <strong>I'm cooking now.</strong>- Teraz gotuję. <br>
                    <strong>Zdanie</strong></li>
                <br>
                <li>Czynnościach, stanach przejściowych. <br>
                    <strong>She is learning to drive.</strong>- Ona się teraz uczy jeżdzić. <br>
                    <strong>Zdanie</strong></li>
                <br>
                <li>Zaplanowanych przyszłych czynnościach. <br>
                    <strong>I'm going to the cinema in 20 minutes.</strong>- Za 20 minut idę do kina. <br>
                    <strong>Zdanie</strong></li>
                <br>
            </ul>
        </div>
        
        <div class="rules">
            <h5>Zdania twierdzące</h5>
            <p>Zdanie twierdzące tworzymy poprzez użycie operatora <strong>„to be”</strong> oraz poprzez dodanie do 
                czasownika głównego końcówki <strong>-ing.</strong>
                </p>
            <p><strong>I'm watching a movie now.</strong> - Oglądam teraz film.</p>
            <p><strong>Zdanie</strong> - </p><br>


            <h5>Pytanie</h5>
            <p>Pytanie tworzymy poprzez inwersję.</p>
            <p><strong>Are they dancing now?</strong> - Czy oni teraz tańczą?</p><br>
            <p><strong>Zdanie</strong> - </p><br>


            <h5>Przeczenie</h5>
            <p>Przeczenie tworzymy poprzez dodanie <strong>„not”</strong> po operatororze <strong>„to be”</strong> oraz poprzez dodanie do 
                czasownika głównego końcówki <strong>-ing.</strong>
                </p>
            <p><strong>She isn't reading this book.</strong> - Ona nie czyta tej książki.</p><br>
            <p><strong>Zdanie</strong> - </p><br>


            <h5>Uwaga! Ważne!</h5>
            <p>Czasowniki zakończone na <strong>-ie</strong>, otrzymują końcówkę <strong>-y</strong> zamiast <strong>-ie</strong>, a następnie dodajemy końcówkę <strong>-ing.</strong></p>
            <p><strong>lie - lying</strong></p>
            <p><strong>die - dying</strong></p><br>

            <p>W czasownikach jednosylabowych, zakończonych na pojedynczą spółgłoskę poprzedzoną 
                pojedynczą samogłoską, podwajamy spółgłoskę, a następnie dodajemy końcówkę<br> <strong>-ing.
                Nie podwajamy w, v, x, y.</strong></p>
            <p><strong>run - running</strong></p>
            <p><strong>swim - swimming</strong></p><br>

            <p>Jeśli czasowik jest zakończony na <strong>-e</strong>, to ta końcówka zanika.</p>
            <p><strong>write - writing</strong></p>
            <p><strong>make - making</strong></p><br>
        </div>    
    </section>
</div>
{% endblock %}