{% extends 'home_page/index.html' %}

{% block title %}
DailyQuest Aktualności
{% endblock %}

{% block content %}
<br><br><h1>Strona w budowie</h1><br><br>

<!-- <center>
<br><h1>To co było i to co nas czeka !!</h1><br>


{{ cal|safe }}
<br><br><br>
<h4>Lista zadań</h4>
<div class="container">
    {% for event in events %}
    <div class="card">
        <div class="card-header">
          <h1><strong>{{ event.title }}</strong></h1>
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p>W dniu : <strong>{{ event.date_start }}</strong></p>
            <footer class="blockquote-footer">{{ event.describe }}</footer>
          </blockquote>
        </div>
      </div>
    {% endfor %}
</div>
</center> -->

{% endblock %}