
<ul class="nav justify-content-center bg-light">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'calendars' %}">Aktualności</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'phonetics' %}">Zacznij od teorii</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="{% url 'phonetics' %}" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Zacznij od teorii
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" href="{% url ' '%}">Przydatne info</a></li>
        <li><a class="dropdown-item" href="{% url ' '%}">Fonetyka</a></li>
        <li><a class="dropdown-item" href="{% url ' '%}">Alfabet</a></li>
        <li><a class="dropdown-item" href="{% url ' '%}">Liczby</a></li>
        <li><a class="dropdown-item" href="{% url ' '%}">Czasowniki</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'daily-quest' %}">DailyQuest</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Techniki skutecznej nauki</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Nauka poprzez zabawę</a>
    </li>
    {% if user.is_authenticated %}    
    <li class="nav-item">
      <a class="nav-link" href="{% url 'logout' %}">Logout</a>
    </li>
    {% else %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'login' %}">Login</a>
    </li>
    {% endif %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'contact' %}">Kontakt</a>
    </li>
   
    
  </ul>