
<ul class="nav justify-content-center bg-light">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'calendars' %}">Aktualności</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'phonetics' %}">Zacznij od teorii</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'daily-quest' %}">DailyQuest</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Techniki skutecznej nauki</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Nauka poprzez zabawę</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'login' %}">Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'contact' %}">Kontakt</a>
    </li>
   
    
  </ul>